@import url('colors.css');
@import url('resets.css');
@import url('radii.css');

:root {
    color-scheme: light dark;
    --font: system-ui, roboto, poppins;
}

::selection {
    background-color: hsl(from var(--primary-active) h s l / 0.45);
}

body {
    background-color: hsl(var(--background-base));
    font-family: Chivo, Roboto, Poppins, serif;
    font-size: 1rem;
    color: hsl(var(--text-normal));
}

section {
    margin: auto;

    @media screen and (min-width: 900px) {
        padding: 1rem 20vw;
    }

    @media screen and (min-width: 600px) and (max-width: 900px) {
        padding: 1rem 15vw;
    }

    @media screen and (max-width: 600px) {
        padding: 1rem 8vw;
    }
}

a, button {
    text-decoration: none;
    color: var(--primary-base);
    transition:
            background-color 0.3s ease,
            color 0.3s ease;
}

a:hover {
    color: var(--primary-hover);
}

a:is(:focus,:active) {
    color: var(--primary-active);
}

button {
    border-radius: var(--radius-md);
    background-color: var(--background-step-1);
}

button:hover {
    background-color: hsl(from var(--background-step-1) h s calc(l + 2));
    color: hsl(var(--primary-hover));
    cursor: pointer;
}

button:is(:focus,:active){
    background-color: hsl(from var(--background-step-1) h s calc(l + 3));
    color: hsl(var(--primary-active));
    cursor: pointer;
}

.muted {
    color: var(--text-muted);
}
