#errorPage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    .errorPage-number {
        font-size: 5rem;
        color: hsl(var(--text-normal));

        @media screen and (max-width: 800px) {
            font-size: 3rem;
        }

        h1 {
            display: inherit;
            margin: 0;
        }

        #bug {
            position: relative;
            top: 1rem;

            @media screen and (max-width: 800px) {
                margin-top: -0.5rem;
            }
        }
    }

    .errorPage-text {
        text-align: center;
        font-weight: 500;
        letter-spacing: 2px;

        h2 {
            margin: 10px 0;
        }
    }
}
