.about {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;

    #description {
        width: 55%;

        h3 {
            font-size: 1.5em;
            margin-bottom: 1em;
        }

        p {
            text-align: justify;
            margin-bottom: 0.5em;
        }
    }

    #sidebar {
        width: 30%;
        font-size: 1.1em;

        p {
            text-align: center;
            padding-top: .75em;
        }

        #badge {
            margin: 1em 0;
            justify-content: center;
        }

        .card {
            width: 100%;
            aspect-ratio: 1 / 1;
            transform-style: preserve-3d;
            transition: transform 0.6s ease;
        }

        .card:hover {
            transform: rotateY(180deg);
        }

        .card-side {
            backface-visibility: hidden;
            position: absolute;
        }

        .back {
            transform: rotateY(180deg);
        }

        .about-picture {
            border-radius: var(--radius-md);
            backface-visibility: hidden;
        }
    }
}

