html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    @media screen and (max-width: 750px) {
        scroll-snap-type: y proximity;
    }
}

section {
    margin-top: 3em;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.35rem;
    font-style: italic;
    font-weight: 500;
}

img {
    max-width: 100%;
    margin: 0;
    place-self: end;
}

.grid {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 3rem;

    @media screen and (max-width: 750px) {
        flex-direction: column;
        scroll-snap-align: center;
        margin-bottom: 1.5rem !important;
    }
}

.blog {
    gap: 1.5rem;
}

.portfolio {
    gap: 3rem;
}

.project {
    scroll-snap-align: center;

    @media screen and (max-width: 750px) {
        margin-bottom: 1.5rem !important;
    }

    h1 {
        margin: 0;
        letter-spacing: normal;
    }

    h2 {
        font-size: 1rem;
        margin: 0;
    }

    p {
        font-size: 0.9rem;
        margin: 0.25rem 0;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            display: block;
        }
    }
}

.post {

    margin-bottom: 5rem;

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
        font-style: normal;
        margin-top: -1.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    img {
        width: 100%;
        height: auto;
    }

    figure {
        margin: 0;

        figcaption {
            text-align: center;
            opacity: 0.65;
            font-size: 0.9rem;
        }
    }

    a {
        text-decoration: underline;
    }

    a.source {
        text-decoration: none;
    }

    mark {
        color: var(--primary-base);
        background-color: transparent;
    }
}
