/* Mobile language switch */
#footer {

    #language-switcher {
        @media (min-width: 640px) {
            display: none;
        }

        @media (max-width: 640px) {
            display: flex;
            justify-content: flex-start;
            padding-top: 0.5rem;
            padding-bottom: -2rem;
        }
    }
}
