

.introduction {

    img {
        width: 100%;
        margin-top: 1em;
    }

    .about-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        margin-top: 1.25em;
    }
}

.contact {
    #contact-grid {
        display: grid;
        grid-template-columns: 1.75fr 2fr;
        grid-gap: 2em;

        p {
            padding-top: 1em;
        }
    }

    #contact-form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: end;
        min-height: 10em;
        max-height: 20em;
        gap: 1em;

        #title {
            position: relative;
            font-weight: 600;
        }

        input, textarea {
            background-color: hsl(var(--background-step-1));
            backdrop-filter: blur(10px);
            border-radius: var(--radius-sm);
            padding: 0.75em;
        }

        textarea {
            min-height: 15em;
            height: contain;
            flex-grow: 5;
            resize: none;
        }

        button {
            align-self: center;
            padding: 0.5em 1em;
            margin-bottom: 0.5em;
        }
    }
}

.footer {
    img {
        width: 100%;
    }
}
