html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

h1 {
    font-size: 2.5rem !important;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

p {
    width: 65%;

    @media screen and (max-width: 900px) {
        width: 100%;
    }
}

section {
    margin: 6rem 0;
    scroll-snap-align: center;
}

.introduction {

    #title {
        font-size: 4rem !important;
        margin-bottom: 0;
    }

    #subtitle {
        margin-top: 0;
    }

    img {
        width: 100%;
        margin-top: 1em;
    }

    .about-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 1em;
        grid-auto-flow: column;
        margin-top: 1.25em;

        @media screen and (max-width: 700px) {
            display: flex;
            flex-direction: column;
        }
    }

    p {
        width: 100%;
        margin: 0;
    }
}

.skillset {

    div {
        margin-top: 2rem;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 1.5rem;

        @media screen and (max-width: 900px) {
            grid-auto-flow: row;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }

        @media screen and (max-width: 500px) {
            grid-auto-flow: row;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }

        @media screen and (max-width: 350px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8, 1fr);
        }
    }

    .skill {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.25rem 0.25rem 0.25rem 0.75rem;
        border-radius: var(--radius-full);
        background: hsl(from var(--primary-base) h s l / 0.20);

        @media screen and (max-width: 350px) {
            width: 80%;
            margin: auto;
        }
    }
}

.portfolio-preview {
    margin-bottom: 0;

    .project {
        scroll-snap-align: none !important;

        h1, p {
            margin: 1rem;
        }

        p {
            width: 90%;
        }
    }
}

.contact {

    #contact-grid {
        display: grid;
        grid-template-columns: 1.75fr 2fr;
        grid-gap: 2em;
        align-items: start;

        p {
            width: 100%;
        }

        @media screen and (max-width: 1280px) {
            display: block;
        }
    }

    #contact-form {

        input, textarea {
            background-color: hsl(var(--background-step-1));
            backdrop-filter: blur(10px);
            border-radius: var(--radius-sm);
            padding: 0.75em;
        }

        button {
            padding: 0.5em 1em;
            align-self: center;
        }
    }

    #contact-form.wide {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: end;
        min-height: 10em;
        max-height: 15em;
        gap: 1em;
        margin-top: 1rem;

        @media screen and (max-width: 550px) {
            display: block;
        }

        @media screen and (max-width: 500px) {
            display: none;
        }

        textarea {
            min-height: 10em;
            height: contain;
            flex-grow: 5;
            resize: none;
        }

        button {
            margin-bottom: 0.5em;
        }
    }

    #contact-form.vertical {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: end;
        gap: 0.5rem;

        @media screen and (min-width: 500px) {
            display: none;
        }

        textarea {
            min-height: 10em;
        }
    }

    img {
        width: 100%;
        margin-top: 2.5rem;
    }
}
