header {
    top: 0;
    left: 0;
    position: static !important;
    width: 100%;
    margin: 0;
}

#navbar {
    padding: 1rem 2.5rem;
    background: hsl(var(--background-step-1));
    height: auto;
    display: flex;

    @media screen and (width >= 500px) {
        flex-direction: row;
        justify-content: space-between;
    }

    @media screen and (width <= 500px) {
        flex-direction: column-reverse;
        justify-content: right;
        float: right;
        text-align: right;
    }
}

#navbar a {
    font-size: large;
    padding-top: 1rem;
    text-decoration: none;
}



#nav-items {
    @media screen and (width >= 500px) {
        flex-direction: row;
    }
    @media screen and (width <= 500px) {
        flex-direction: column;
    }
}

/* Light dark theme switcher */
#theme-toggle {
    width: 48px;
    height: 48px;
    background: hsl(var(--background-step-3));
    border-radius: 100px;

    * {
        margin: 12px 4px;
        width: 24px;
        height: 24px;
    }
}

/* Mobile toggler */
.navbar-toggler {
    @media screen and (width >= 500px) { display: none;}

    border: none;
    background: none;
    width: fit-content;
    align-self: end;
}

.navbar-toggler > svg {
    font-size: 2rem;
}
